.keep-header{
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #e0e0e0;
}
.main-keep-name{
    width: 14%;
    height: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.main-menu{
    width: 30px;
    height: 30px;
    position: relative;
    left: 20px;
    top: 3px;
    color: #5f6368;
    opacity: 1;
}
.keep-logo{
    width: 40px;
    height: 40px;
    position: relative;
    left: 30px;
}
#keep-img{
    width: 100%;
    height: 100%;
}
.keep-name{
    width: 50px;
    height: 30px;
    display: inline-block;
    font-family: "Product Sans",Arial,sans-serif;
    font-size: 22px;
    line-height: 24px;
    color: #5f6368;
    opacity: 1;
    position: relative;
    top:3px;
    left: 40px;
}
.blank-box1{
    width: 5%;
    height: 90%;
}
.search-box{
    width: 52%;
    height: 80%;
    background: #f1f3f4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
#text-search{
    width: 90%;
    height: 80%;
    background: #f1f3f4;
    border: none;
    font-size: 18px;
    position: relative;
    left:5px;
}
#search-icon{
    position: relative;
    top: 1px;
    right: 3px;
    color: #5f6368;
    opacity: 1;
}
.blank-box2{
    width: 10%;
    height: 90%;
}
.icon-bar{
    width: 8%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.refresh{
    width: 25px;
    height: 25px;
    opacity: 0.54;
}
.list-view{
    width: 25px;
    height: 25px;
    opacity: 0.54;
}
.setting{
    width: 25px;
    height: 25px;
    opacity: 0.54;
}
.blank-box3{
    width: 3%;
    height: 90%;
}
.login-logo{
    width: 8%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.apps{
    width: 25px;
    height: 25px;
    opacity: 0.54;
}
.login-icon{
    width: 38px;
    height: 40px;
    opacity: 0.54;
}
#LoginIcon{
    position: relative;
    width: 100%;
    height: 100%;
}