.takenotehead{
    width: 100vw;
    height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    bottom: 30px;
    /* border: 1px solid red; */
}
.takenote{
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    /* border: 1px solid black; */
}
.note1{
    width: 70%;
    height: 100%;
    background-color: #fff;
    border-color: #e0e0e0;
    border-radius: 8px;
    font-size: 18px;
    border: 1px solid gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}
.notetake
{
    width: 75%;
    font-weight: 400;
    opacity: 0.9;
    border: none;
    /* border: 1px solid green; */
    display: flex;
    align-items: flex-start;
}
#note-take{
    /* border: 1px solid green; */
    position: relative;
    left:15px;
}
.checkbox{
    width: 6%;
    opacity: 0.5;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
}
.brush{
    width: 6%;
    opacity: 0.5;
    display: flex;
    align-items: center;
}
.takenoteimage{
    width: 6%;
    opacity: 0.5;
    display: flex;
    align-items: center;
}