.takenote3{
    width: 18vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Note-Box{
    width: 95%;
    height: 90%;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}
.title-pin-des{
    width: 100%;
    height: 62%;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.title3{
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
}
.note-title3{
    width: 100%;
    height: 100%;
    display: flex;
    /* border: 1px solid green; */
}
#noteTitle3{
    position: relative;
    left:15px;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.9;
}
.pinIcon{
    display: flex;
    /* border: 1px solid red; */
    width: 20%;
    height: 50%;
}
#pin3{
    position: relative;
    left: 5px;
    top: 8px;
    opacity: 0.6;
}
.TakeNote3{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
}
#noteAtake3{
    position: relative;
    left:15px;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.9;
}
.icon3{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    opacity: 0.6;
}


.takeanotehead2-3{
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    border-radius: 10px;
}
.takenote2-3{
    width: 100%;
    height: 100%;
}
.note2-3{
    height: 35%;
    /* border: 1px solid red; */
}
.title2-3{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#noteTitle2-3{
    position: relative;
    left:15px;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.9
}
#pin2-3{
    position: relative;
    right:15px;
    opacity: 0.8;
}
.note-take2-3{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
#noteAtake2-3{
    position: relative;
    left:15px;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.9;
}
.close2-3{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#closebutton2-3{
    color: #000;
    text-transform: none;
}
.icon2-3{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    opacity: 0.6;
}
.closetext2-3{
    font-size: 15px;
    font-weight: 500;
    opacity: 0.9;
}
#undo2-3{
    opacity: 0.6;
}
#redo2-3{
    opacity: 0.6;
}