.Sign-in-Page{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Signin-Container{
    width: 35%;
    height: 80%;
    border: 1px solid #e0e0e0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 10px;
}
.Containe{
    width: 85%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: relative;
    top:25px; 
}
.Google-img{
    width: 22%;
    height: 6%;
}
#img-google{
    width: 100%;
    height: 100%;
}
.Text-1{
    width: 50%;
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #202124;
    font-family: "Google Sans","Noto Sans Myanmar UI",arial,sans-serif;
    font-size: 13px;
    line-height: 1.3333;
    font-weight: 300;
}
.Text2{
    width: 50%;
    height: 10%;
    display: flex;
    align-items: stretch;
    justify-content:center;
    font-size: medium;
}
.UserName{
    width: 100%;
}
#outlined-basic{
    width: 378px;
}
.UserName a{
    display: flex;
    justify-content: start;
    position: relative;
    left:3px;
    top:3px;
    color: blue;
    font-weight: 400;
}
.UserPassword{
    width: 100%;
    position: relative;
    top:10px;
}
#outlined-basic-password{
    width: 378px;
}
.UserPassword a{
    display: flex;
    justify-content: start;
    position: relative;
    left:3px;
    top:5px;
    color: blue;
    font-weight: 400;
}
.middle-text{
    width: 100%;
    height: 4%;
    position: relative;
    top:25px;
    left:3px;
    white-space: normal;
    display: flex;
    justify-content: flex-start;
    color: #5f6368;
    font-size: 14px;
    line-height: 1.4286;
}
.middletext{
    width: 100%;
    height: 5%;
    position: relative;
    top:25px;
    left:3px;
    font-size: 14px;
    white-space: normal;
    display: flex;
    justify-content: flex-start;
    font-weight: 500;
    letter-spacing: .25px;
    color: blue;
}
.button-section{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    top:55px;
}
#create-account-text{
    text-transform: none;
    font-size: 14px;
    font-weight: 500;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
}

@media only screen and (min-width :320px) and (max-width :480px) {
    .Sign-in-Page{
        width: 100vw;
        height: 110vh;
    }
    .Signin-Container{
        width: 100%;
        height: 100%;
    }
    .Containe{
        width: 85%;
        height: 90%;
    }
    .Google-img{
        width: 22%;
        height: 6%;
    }
    #img-google{
        width: 100%;
        height: 100%;
    }
    .Text-1{
        width: 50%;
        height: 12%;
    }
    .Text2{
        width: 80%;
    }
    .UserName{
        width: 100%;
    }
    #outlined-basic{
        width: 240px;
        display: block;
    }
    .UserName a{
        width: 80%;
    }
    .UserPassword{
        width: 100%;
        position: relative;
        top:10px;
    }
    #outlined-basic-password{
        width: 240px;
    }
    .UserPassword a{
        width: 80%;
    }
    .middle-text{
        width: 100%;
        height: 6%;
        text-align: start;
    }
    .middletext{
        width: 100%;
    }
    .button-section{
        width: 100%;
        height: 10%;
    }
}

@media only screen and (min-width :481px) and (max-width :768px) {

    .Sign-in-Page{
        width: 100vw;
        height: 100vh;
    }
    .Signin-Container{
        width: 100%;
        height: 100%;
    }
    .Containe{
        width: 75%;
        height: 90%;
    }
    .Google-img{
        width: 22%;
        height: 6%;
    }
    #img-google{
        width: 100%;
        height: 100%;
    }
    .Text-1{
        width: 50%;
        height: 12%;
    }
    .Text2{
        width: 80%;
        height: 7%;
    }
    .UserName{
        width: 100%;
    }
    #outlined-basic{
        width: 380px;
        display: block;
    }
    .UserName a{
        width: 80%;
    }
    .UserPassword{
        width: 100%;
        position: relative;
        top:10px;
    }
    #outlined-basic-password{
        width: 380px;
    }
    .UserPassword a{
        width: 80%;
    }
    .middle-text{
        width: 100%;
        height: 6%;
        text-align: start;
    }
    .middletext{
        width: 100%;
        left:5px;
        top:20px;
    }
    .button-section{
        width: 100%;
        height: 10%;
    }
}

@media only screen and (min-width :769px) and (max-width :1024px) {
    .Sign-in-Page{
        width: 100vw;
        height: 100vh;
    }
    .Signin-Container{
        width: 60%;
        height: 70%;
        border: 1px solid #e0e0e0;
    }
    .Containe{
        width: 85%;
        height: 90%;
    }
    .Google-img{
        width: 22%;
        height: 6%;
    }
    #img-google{
        width: 100%;
        height: 100%;
    }
    .Text-1{
        width: 80%;
        height: 12%;
    }
    .Text2{
        width: 50%;
        height: 10%;
    }
    .UserName{
        width: 100%;
    }
    #outlined-basic{
        width: 378px;
    }
    #outlined-basic-password{
        width: 378px;
    }
}